.result {
   border-radius: 45px;
   background-color: var(--primary-contrast);
}

.resultNumber {
   text-align: center;
   font-size: 100px;
   font-weight: 600;
}

.resultNumber span {
   display: inline-block;
   padding-right: 3px;
   text-align: right;
}

:global(.dark) .result {
   background-color: var(--secondary-main);
}

@media screen and (max-width: 515px) {
   .resultNumber {
      font-size: 50px;
   }
}
