.questions {
   display: flex;
   flex-direction: column;
   gap: 25px;
}

.question {
   display: flex;
   flex-direction: column;
   gap: 15px;
   padding: 15px;
   border-radius: 10px;
   border: 1px solid var(--secondary-main);
}

.question h3 {
   font-weight: 600;
   font-size: 18px;
}

.answerScoreInput {
   max-width: 50px;
   padding: 10px;
   text-align: center;
}

.questionInput,
.answersInput {
   display: flex;
   gap: 10px;
}

.questionInput button,
.answersInput button {
   flex-shrink: 0;
   width: 50px;
   height: 50px;
   padding: 12px;
   justify-content: center;
}

.answersInput button {
   border: none;
}

.answers {
   display: flex;
   flex-direction: column;
   gap: 15px;
   padding: 15px;
   border-radius: 10px;
   border: 1px solid var(--secondary-main);
}

:global(.dark) .questionInput input,
:global(.dark) .answerInput,
:global(.dark) .answerScoreInput {
   color: var(--primary-contrast-test);
   background-color: var(--secondary-main);
}
