.header {
   position: relative;
   padding: 10px 0;
   font-size: 20px;
   height: 63px;
   background-color: var(--primary-main);
}

.burgerBtn {
   display: none;
}

.themeBtn {
   fill: var(--primary-contrast);
}

button.themeBtn span {
   display: none;
}

button.themeBtn {
   padding: 0;
}

.content{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 30px;
}

.links{
   display: flex;
   align-items: center;
   gap: 16px;
}

.links a:first-child{
   color: var(--primary-contrast);
}
